@page "/"
@inject ArweaveService ArweaveService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
@if (_step == 0)
{



<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center justify-center align-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Welcome to AO OS</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Your gateway to the hyper parallel computer running on Arweave.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#" @onclick="() => Step(1)" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Follow the white rabbit
                <svg class="h-4 w-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</section>
}

@if (_step == 1)
{
    <button @onclick="GenerateWallet">Generate a wallet</button>

    @if (!string.IsNullOrEmpty(_jwk))
    {
        <p>Wallet created</p>
        <p>Address: @_address</p>
        <button @onclick="DownloadWallet">Backup your wallet</button>
    }
}

@if (_step == 2)
{
    <p>
        It’s easy to communicate with processes running on ao
        Contact Morpheus’s process at ?????????
    </p>

    <p>What's your name?</p>
    <input @bind="inputName" placeholder="Enter your name" />
    <button @onclick="TalkToMorpheus">Talk to Morpheus</button>


    @if (_resultId != null)
    {
        <p>Morpheus has an answer, it's message id is: @_resultId</p>
        <button @onclick="CheckResult">Check the content of @_resultId</button>

    }

}

@if (_step == 3)
{
    <p>Getting result...</p>

    @if(_resultMsg != null)
    {
        <p>Result:</p>
        <p>@_resultMsg</p>

        <p>Creating tokens on ao is easy. Press the button to create your own token.</p>

        <button @onclick="CreateToken">Create token</button>

        @if(_tokenResult != null)
        {
            <p>Your token is created with id: @_tokenResult</p>

        <button @onclick="CheckBalance">Check the token balance</button>

        }

    }
}

@if(_step == 4)
{
    <p>Balances</p>

    <p>@_address</p>
    <p>1 token</p>

    <p>Great! You've made the first basic steps usig the hyper parallel computer. Easy right?</p>

    <p>Continue your next steps...</p>
    <button @onclick="GoToOS">Boot up ao OS</button>
}
